.m0p0 {
    margin: 0 !important;
    padding: 0 !important
}

.ma {
    margin: auto
}

.mtn2 {
    margin-top: -2px
}

.mtn4 {
    margin-top: -4px
}

.mtn6 {
    margin-top: -6px
}

.mtn7 {
    margin-top: -7px
}

.mtn10 {
    margin-top: -10px
}

.mtn48 {
    margin-top: -48px
}

.mbn2 {
    margin-bottom: -2px
}

.mbn4 {
    margin-bottom: -4px
}

.mbn10 {
    margin-bottom: -10px
}

.mbn25 {
    margin-bottom: -25px !important
}

.mt_4 {
    margin-top: -4px
}

.mg10, .mg5 {
    margin: 5px
}

.mt0 {
    margin-top: 0 !important
}

.mt1 {
    margin-top: 1px !important
}

.mt2 {
    margin-top: 2px !important
}

.mt3 {
    margin-top: 3px !important
}

.mt4 {
    margin-top: 4px !important
}

.mt5 {
    margin-top: 5px !important
}

.mt6 {
    margin-top: 6px !important
}

.mt7 {
    margin-top: 7px !important
}

.mt8 {
    margin-top: 8px !important
}

.mt9 {
    margin-top: 9px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt11 {
    margin-top: 11px !important
}

.mt12 {
    margin-top: 12px !important
}

.mt13 {
    margin-top: 13px !important
}

.mt14 {
    margin-top: 14px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt16 {
    margin-top: 16px !important
}

.mt17 {
    margin-top: 17px !important
}

.mt18 {
    margin-top: 18px !important
}

.mt20 {
    margin-top: 20px !important
}

.mt21 {
    margin-top: 21px !important
}

.mt25 {
    margin-top: 25px !important
}

.mt26 {
    margin-top: 26px !important
}

.mt30 {
    margin-top: 30px !important
}

.mt35 {
    margin-top: 35px !important
}

.mt49 {
    margin-top: 49px !important
}

.mt40 {
    margin-top: 40px !important
}

.mt45 {
    margin-top: 45px !important
}

.mt47 {
    margin-top: 47px !important
}

.mt50 {
    margin-top: 50px !important
}

.mt60 {
    margin-top: 60px !important
}

.mt72 {
    margin-top: 72px !important
}

.mt80 {
    margin-top: 80px !important
}

.mt85 {
    margin-top: 85px !important
}

.mt90 {
    margin-top: 90px !important
}

.mt95 {
    margin-top: 95px !important
}

.mt105 {
    margin-top: 105px !important
}

.mt120 {
    margin-top: 120px !important
}

.mb0 {
    margin-bottom: 0 !important
}

.mb1 {
    margin-bottom: 1px !important
}

.mb2 {
    margin-bottom: 2px !important
}

.mb3 {
    margin-bottom: 3px !important
}

.mb4 {
    margin-bottom: 4px !important
}

.mb5 {
    margin-bottom: 5px !important
}

.mb6 {
    margin-bottom: 6px !important
}

.mb7 {
    margin-bottom: 7px !important
}

.mb8 {
    margin-bottom: 8px !important
}

.mb9 {
    margin-bottom: 9px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.mb12 {
    margin-bottom: 12px !important
}

.mb13 {
    margin-bottom: 13px !important
}

.mb14 {
    margin-bottom: 14px !important
}

.mb15 {
    margin-bottom: 15px !important
}

.mb16 {
    margin-bottom: 16px !important
}

.mb17 {
    margin-bottom: 17px !important
}

.mb18 {
    margin-bottom: 18px !important
}

.mb19 {
    margin-bottom: 19px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.mb21 {
    margin-bottom: 21px !important
}

.mb22 {
    margin-bottom: 22px !important
}

.mb25 {
    margin-bottom: 25px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.mb32 {
    margin-bottom: 32px !important
}

.mb35 {
    margin-bottom: 35px !important
}

.mb40 {
    margin-bottom: 40px !important
}

.mb45 {
    margin-bottom: 45px !important
}

.mb46 {
    margin-bottom: 46px !important
}

.mb50 {
    margin-bottom: 50px !important
}

.mb53 {
    margin-bottom: 53px !important
}

.mb57 {
    margin-bottom: 57px !important
}

.mb60 {
    margin-bottom: 60px !important
}

.mb65 {
    margin-bottom: 65px !important
}

.mb70 {
    margin-bottom: 70px !important
}

.mb100 {
    margin-bottom: 100px !important
}

.mr0 {
    margin-right: 0 !important
}

.mr2 {
    margin-right: 2px !important
}

.mr3 {
    margin-right: 3px !important
}

.mr4 {
    margin-right: 4px !important
}

.mr5 {
    margin-right: 5px !important
}

.mr6 {
    margin-right: 6px !important
}

.mr7 {
    margin-right: 7px !important
}

.mr8 {
    margin-right: 8px !important
}

.mr9 {
    margin-right: 9px !important
}

.mr10 {
    margin-right: 10px !important
}

.mr12 {
    margin-right: 12px !important
}

.mr13 {
    margin-right: 13px !important
}

.mr14 {
    margin-right: 14px !important
}

.mr15 {
    margin-right: 15px !important
}

.mr16 {
    margin-right: 16px !important
}

.mr20 {
    margin-right: 20px !important
}

.mr23 {
    margin-right: 23px !important
}

.mr24 {
    margin-right: 24px !important
}

.mr25 {
    margin-right: 25px !important
}

.mr30 {
    margin-right: 30px !important
}

.mr34 {
    margin-right: 34px !important
}

.mr35 {
    margin-right: 35px !important
}

.mr40 {
    margin-right: 40px !important
}

.mr50 {
    margin-right: 50px !important
}

.mr60 {
    margin-right: 60px !important
}

.mr88 {
    margin-right: 88px !important
}

.mr100 {
    margin-right: 100px !important
}

.mr105 {
    margin-right: 105px !important
}

.ml1 {
    margin-left: 1px !important
}

.ml5 {
    margin-left: 5px !important
}

.ml6 {
    margin-left: 6px !important
}

.ml7 {
    margin-left: 7px !important
}

.ml8 {
    margin-left: 8px !important
}

.ml10 {
    margin-left: 10px !important
}

.ml13 {
    margin-left: 13px !important
}

.ml12 {
    margin-left: 12px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml16 {
    margin-left: 16px !important
}

.ml20 {
    margin-left: 20px !important
}

.ml22 {
    margin-left: 22px !important
}

.ml30 {
    margin-left: 30px !important
}

.ml35 {
    margin-left: 35px !important
}

.ml40 {
    margin-left: 40px !important
}

.ml45 {
    margin-left: 45px !important
}

.ml50 {
    margin-left: 50px !important
}

.ml65 {
    margin-left: 65px !important
}

.ml68 {
    margin-left: 68px !important
}

.ml80 {
    margin-left: 80px !important
}

.ml88 {
    margin-left: 88px !important
}

.ml195 {
    margin-left: 195px !important
}

.mrn2 {
    margin-right: -2px
}

.mrn20 {
    margin-right: -20px
}

.mrn5 {
    margin-right: -5px
}

.mln20 {
    margin-left: -20px
}

.pt0 {
    padding-top: 0 !important
}

.pt2 {
    padding-top: 2px !important
}

.pt4 {
    padding-top: 4px !important
}

.pt5 {
    padding-top: 5px !important
}

.pt6 {
    padding-top: 6px !important
}

.pt7 {
    padding-top: 7px !important
}

.pt8 {
    padding-top: 8px !important
}

.pt10 {
    padding-top: 10px !important
}

.pt11 {
    padding-top: 11px !important
}

.pt12 {
    padding-top: 12px !important
}

.pt15 {
    padding-top: 15px !important
}

.pt16 {
    padding-top: 16px !important
}

.pt18 {
    padding-top: 18px !important
}

.pt20 {
    padding-top: 20px !important
}

.pt25 {
    padding-top: 25px !important
}

.pt30 {
    padding-top: 30px !important
}

.pt35 {
    padding-top: 35px !important
}

.pt40 {
    padding-top: 40px !important
}

.pt50 {
    padding-top: 50px !important
}

.pt60 {
    padding-top: 60px !important
}

.pb0 {
    padding-bottom: 0 !important
}

.pb5 {
    padding-bottom: 5px !important
}

.pb7 {
    padding-bottom: 7px !important
}

.pb10 {
    padding-bottom: 10px !important
}

.pb12 {
    padding-bottom: 12px !important
}

.pb14 {
    padding-bottom: 14px !important
}

.pb15 {
    padding-bottom: 15px !important
}

.pb17 {
    padding-bottom: 17px !important
}

.pb18 {
    padding-bottom: 18px !important
}

.pb20 {
    padding-bottom: 20px !important
}

.pb21 {
    padding-bottom: 21px !important
}

.pb25 {
    padding-bottom: 25px !important
}

.pb30 {
    padding-bottom: 30px !important
}

.pb60 {
    padding-bottom: 60px !important
}

.pl0 {
    padding-left: 0 !important
}

.pl5 {
    padding-left: 5px !important
}

.pl10 {
    padding-left: 10px !important
}

.pl12 {
    padding-left: 12px !important
}

.pl15 {
    padding-left: 15px !important
}

.pl20 {
    padding-left: 20px !important
}

.pl30 {
    padding-left: 30px !important
}

.pl34 {
    padding-left: 34px !important
}

.pl40 {
    padding-left: 40px !important
}

.pl60 {
    padding-left: 60px !important
}

.pl70 {
    padding-left: 70px !important
}

.pr5 {
    padding-right: 5px !important
}

.pr10 {
    padding-right: 10px !important
}

.pr12 {
    padding-right: 12px !important
}

.pr15 {
    padding-right: 15px !important
}

.pr20 {
    padding-right: 20px !important
}

.pr25 {
    padding-right: 25px !important
}

.pr34 {
    padding-right: 34px !important
}

.pr60 {
    padding-right: 60px !important
}

.pv5 {
    padding-top: 5px;
    padding-bottom: 5px
}

.pv10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.pv11 {
    padding-top: 11px;
    padding-bottom: 11px
}

.pv15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.pv20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.pv30 {
    padding-top: 30px;
    padding-bottom: 30px
}

.ph5 {
    padding-left: 5px;
    padding-right: 5px
}

.ph8 {
    padding-left: 8px;
    padding-right: 8px
}

.ph10 {
    padding-left: 10px;
    padding-right: 10px
}

.ph13 {
    padding-left: 13px;
    padding-right: 13px
}

.ph15 {
    padding-left: 15px;
    padding-right: 15px
}

.ph16 {
    padding-left: 16px;
    padding-right: 16px
}

.ph20 {
    padding-left: 20px;
    padding-right: 20px
}

.ph25 {
    padding-left: 25px;
    padding-right: 25px
}

.ph30 {
    padding-left: 30px;
    padding-right: 30px
}

.p10 {
    padding: 10px
}

.p15 {
    padding: 15px
}

.p16 {
    padding: 16px
}

.p20 {
    padding: 20px
}

.p25 {
    padding: 25px
}

.p30 {
    padding: 30px
}

.p40 {
    padding: 40px
}

.pd5 {
    padding: 5px
}

.pd10 {
    padding: 10px
}

.pd03 {
    padding: 0 3px
}

.buttenbig_right .my_ctrl a, .pd50 {
    padding: 5px 0
}

.pd010 {
    padding: 0 10px
}

.pd100 {
    padding: 10px 0
}

.pv7 {
    padding-top: 7px !important;
    padding-bottom: 7px !important
}

.lh1d5 {
    line-height: 1.5
}

.lh1d8 {
    line-height: 1.8
}

.lh1 {
    line-height: 1
}

.lh2x {
    line-height: 2
}

.lh180 {
    line-height: 180%
}

.lh1em {
    line-height: 1em
}

.lh12 {
    line-height: 12px !important
}

.lh14 {
    line-height: 14px !important
}

.lh16 {
    line-height: 16px !important
}

.lh18 {
    line-height: 18px !important
}

.lh20 {
    line-height: 20px !important
}

.lh21 {
    line-height: 21px !important
}

.lh22 {
    line-height: 22px !important
}

.lh24, .newpost .width_sml {
    line-height: 24px !important
}

.lh25 {
    line-height: 25px !important
}

.lh26 {
    line-height: 26px !important
}

.lh28 {
    line-height: 28px !important
}

.article_post_content, .lh30 {
    line-height: 30px !important
}

.lh32 {
    line-height: 32px !important
}

.lh34 {
    line-height: 34px !important
}

.lh35 {
    line-height: 35px !important
}

.lh40 {
    line-height: 40px !important
}

.lh42 {
    line-height: 42px !important
}

.lh50 {
    line-height: 50px !important
}

.lh55 {
    line-height: 55px !important
}

.lh60 {
    line-height: 60px !important
}

.lh145 {
    line-height: 145px !important
}

.lh400 {
    line-height: 400px !important
}

.wide {
    width: 1000px
}

.wh_1414 {
    height: 14px;
    width: 14px
}

.wh_1212 {
    width: 12px;
    height: 12px
}

.wh_1616 {
    width: 16px;
    height: 16px
}
.posr{
    position: relative;
}
.fz0 {
    font-size: 0 !important
}

.fz12 {
    font-size: 12px !important
}

.fz14 {
    font-size: 14px !important
}

.fz16 {
    font-size: 16px !important
}

.fz18 {
    font-size: 18px !important
}

.fz20 {
    font-size: 20px !important
}

.fz22 {
    font-size: 22px !important
}

.fz24 {
    font-size: 24px !important
}

.fz26 {
    font-size: 26px !important
}

.fz30 {
    font-size: 30px !important
}

.fz38 {
    font-size: 38px !important
}

.fz40 {
    font-size: 40px !important
}

.fz48 {
    font-size: 48px !important
}
._white {
    color: #fff
}
.ovf {
    overflow: hidden !important
}
.curd {
    cursor: default !important
}

.curt {
    cursor: text !important
}

.curp {
    cursor: pointer !important
}

.vam {
    vertical-align: middle !important
}

.vat {
    vertical-align: top !important
}

.vab {
    vertical-align: bottom !important
}
.blue1, .name {
    color: #4083a9
}
.lighter-gray, .minor {
    color: #959595
}

.hover-show:hover .hover-show__item {
    display: block !important
}
.hover-show__item {
    display: none !important
}
.buttenbig_right .my_ctrl a, .form_list .form_li, .full, .lwf, .lwf_img img, .newpost dl, .reg_box h2, .width100 {
    width: 100%
}

.half-width {
    width: 50%
}

.w48 {
    width: 48px !important
}

.w50 {
    width: 50px !important
}

.w56 {
    width: 56px !important
}

.w70 {
    width: 70px !important
}

.w80 {
    width: 80px !important
}

.w90 {
    width: 90px !important
}

.w100 {
    width: 100px !important
}

.w117 {
    width: 117px !important
}

.w120 {
    width: 120px !important
}

.w125 {
    width: 125px !important
}

.w130 {
    width: 130px !important
}

.w136 {
    width: 136px !important
}

.w140 {
    width: 140px !important
}

.w142 {
    width: 142px !important
}

.w145 {
    width: 145px !important
}

.w150 {
    width: 150px !important
}

.w160 {
    width: 160px !important
}

.w164 {
    width: 164px !important
}

.w170 {
    width: 170px !important
}

.w180 {
    /*width: 180px !important*/
    /*width:20%;*/
}


.w183 {
    width: 183px !important
}

.w200 {
    width: 200px !important
}

.w205 {
    width: 205px !important
}

.w210 {
    width: 210px !important
}

.w220 {
    width: 220px !important
}

.w240 {
    width: 240px !important
}

.w245 {
    width: 245px !important
}

.w330 {
    width: 330px !important
}

.w450 {
    width: 450px !important
}

.w500 {
    width: 500px !important
}

.w538 {
    width: 538px !important
}

.w650 {
    /*width: 650px !important;*/
    max-width: 100%;
}

.w670 {
    width: 670px !important
}

.w675 {
    width: 675px !important
}

.w683 {
    width: 683px !important
}

.w800 {
    width: 800px !important
}

.maxw95 {
    max-width: 95px !important
}

.maxw110 {
    max-width: 110px !important
}

.maxw120 {
    max-width: 120px !important
}

.maxw125 {
    max-width: 125px !important
}

.maxw130 {
    max-width: 130px !important
}

.maxw145 {
    max-width: 145px !important
}

.maxw150 {
    max-width: 150px !important
}

.maxw180 {
    max-width: 180px !important
}

.maxw250 {
    max-width: 250px !important
}

.maxw700 {
    max-width: 700px !important
}

.minW1200 {
    min-width: 1200px
}

.h0 {
    height: 0 !important
}

.h12 {
    height: 12px !important
}

.h14 {
    height: 14px !important
}

.h18 {
    height: 18px !important
}

.h32 {
    height: 32px !important
}

.h36 {
    height: 36px !important
}

.h40 {
    height: 40px !important
}

.h48 {
    height: 48px !important
}

.h60 {
    height: 60px !important
}

.h63 {
    height: 63px !important
}

.h72 {
    height: 72px !important
}

.h80 {
    height: 80px !important
}

.h85 {
    height: 85px !important
}

.h90 {
    height: 90px !important
}

.h105 {
    height: 105px !important
}

.h117 {
    height: 117px !important
}

.h120 {
    height: 120px !important
}

.h126 {
    height: 126px !important
}

.h130 {
    height: 130px !important
}

.h135 {
    height: 135px !important
}

.h170 {
    height: 170px !important
}

.h194 {
    height: 194px !important
}

.h204 {
    height: 204px !important
}

.h240 {
    height: 240px !important
}

.h450 {
    height: 450px !important
}

.maxh26 {
    max-height: 26px !important
}

.maxh36 {
    max-height: 36px !important
}

.maxh44 {
    max-height: 44px !important
}

.maxh85 {
    max-height: 85px !important
}

.maxh204 {
    max-height: 204px !important
}

.maxh254 {
    max-height: 254px !important
}

.maxh614 {
    max-height: 614px !important
}

.maxh645 {
    max-height: 645px !important
}

.mxh63 {
    max-height: 63px;
    overflow: hidden
}

.hAuto {
    height: auto !important
}
.noBg {
    background: 0 0
}

.bgF5 {
    background-color: #f5f5f5
}

.bgBlue {
    background-color: #2db2ea
}

.bgWhite {
    background-color: #fff !important
}

.Prompt_con, .bgwhite, .block_n, .btn_hred a, .close .title_r a.del, .coser_rec_check a.weibo:hover, .html_clew_box_close .title_r a, .recipients-tips, .title_r .close a.del, .title_r .html_clew_box_close a, .title_r .l-right, .title_r .mainbox_R, .title_r h2, .title_r h3, .title_r p {
    background-color: #fff
}

.bgGrassgreen {
    background: #DBEED9
}

.bgSkyblue {
    background: #DAF1F2
}

.bgOldbook {
    background: #F2EEDF
}

.bgLightgray {
    background: #E4E4E4
}

.bgFa {
    background-color: #fafafa
}

.bgF0 {
    background-color: #f0f0f0
}

.bgE5 {
    background-color: #e5e5e5
}

.bgF6 {
    background-color: #f6f6f6
}

#category_tree a:hover, .bgf8, .coser_rec_check a:hover, .stat_req a:hover {
    background-color: #f8f8f8
}
.di {
    display: inline !important
}

.dib {
    display: inline-block !important
}
.img-max-150 {
    max-height: 150px;
    max-width: 150px
}

.img-max-200 {
    max-width: 200px;
    max-height: 200px
}

.img-max-400 {
    max-width: 400px;
    max-height: 400px
}

.img-max-500 {
    max-width: 500px;
    max-height: 500px
}

.img60 {
    width: 60px;
    height: 60px
}

.img100 {
    width: 100px;
    height: 150px
}

.img110 {
    width: 110px;
    height: 165px
}
.l-posr {
    position: relative
}
.l-group-content-and-opers {
    min-height: 22px
}
.l-posrb {
    position: absolute;
    right: 0;
    bottom: 0
}